
    <div class="border-bottom top-bar py-2 bg-dark" id="home-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="mb-0">
                <span class="mr-3"><strong class="text-white">Phone:</strong> <a href="tel:+91 99719 15524">+91 99719 15524</a></span>
                <span><strong class="text-white">Email:</strong> <a href="mailto:hint2mint@gmail.com">hint2mint@gmail.com</a></span>
              </p>
            </div>
            <div class="col-md-6">
              <ul class="social-media">
                <li><a href="https://www.facebook.com/pages/category/Product-Service/Hint2Mint-107676550799236/" class="p-2"><span class="icon-facebook"></span></a></li>
                <li><a href="https://twitter.com/chariotfinserve" class="p-2"><span class="icon-twitter"></span></a></li>
                <li><a href="https://www.instagram.com/hint2mint/" class="p-2"><span class="icon-instagram"></span></a></li>
                <li><a href="https://www.linkedin.com/company/hint2mint/?viewAsMember=true" class="p-2"><span class="icon-linkedin"></span></a></li>
                <li><a href="https://www.youtube.com/channel/UCL6KvnZOYKuY9np9TYIHyIQ" class="p-2"><span class="icon-youtube"></span></a></li>
              </ul>
            </div>
          </div>
        </div> 
      </div>
  