<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="p-3 box-with-humber">
        <div class="number-behind">01.</div>
        <h2 class="text-primary"> Vision</h2>
        <p class="mb-4">Hint2Mint has been formed with the aim of helping individuals, in achieving their dreams by
          empowering them.</p>
        <ul class="list-unstyled ul-check primary">
          <li>Customer Experience</li>
          <li>Product Management</li>
          <li>Proof of Concept</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-3 box-with-humber">
        <div class="number-behind">02.</div>
        <h2 class="text-primary">Mission</h2>
        <p class="mb-4">The main aim of our organisation is to transform the personality of our young and talented minds
          which are the future of our nation.</p>
        <ul class="list-unstyled ul-check primary">
          <li>Career Counselling</li>
          <li>Improving Presentation skills</li>
          <li>Improving interview skills</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-3 box-with-humber">
        <div class="number-behind">03.</div>
        <h2 class="text-primary">Inculcating Meditation and Spiritual Know-How</h2>
        <p class="mb-4">We truly understand the importance of the well being of your mind and health so as to excel
          while striking a balance with the blend of spiritual connect and proficiency.</p>
        <ul class="list-unstyled ul-check primary">
          <li>Social Media</li>
          <li>Paid Campaigns</li>
          <li>Marketing &amp; SEO</li>
        </ul>
      </div>
    </div>
  </div>
</div>