<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="text-black h1 site-section-heading text-center">Our Work</h2>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a href="asset/videos/our works/SakshiWebinar_hint2mint.mp4" class="media-1" data-fancybox="gallery">
    <div class="col-md-6 col-lg-4"><video width="419" height="419" controls>
      <source src="asset/videos/our works/SakshiWebinar_hint2mint.mp4" type="video/mp4" class="media-1" data-fancybox="gallery">
    </video>
    <div class="media-1-content">
      <h2>Webinar</h2>
    </div>
        </a>
    </div>
    <a href="asset/videos/our works/KMVWebinarTrailer_hint2mint.mp4" class="media-1" data-fancybox="gallery">
    <div class="col-md-6 col-lg-4"><video width="419" height="419" controls>
      <source src="asset/videos/our works/KMVWebinarTrailer_hint2mint.mp4" type="video/mp4" class="media-1" data-fancybox="gallery">
    </video>
    <div class="media-1-content">
      <h2>Trailer</h2>
    </div>
        </a>
    </div>
    <a href="asset/videos/our works/PDTrailer_hint2mint.mp4" class="media-1" data-fancybox="gallery">
    <div class="col-md-6 col-lg-4"><video width="419" height="419" controls>
      <source src="asset/videos/our works/PDTrailer_hint2mint.mp4" type="video/mp4" class="media-1" data-fancybox="gallery">
    </video>
    <div class="media-1-content">
      <h2>Trailer</h2>
    </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="asset/images/works/understandingmarketbreadth_hint2mint.jpg" class="media-1" data-fancybox="gallery">
        <img src="asset/images/works/understandingmarketbreadth_hint2mint.jpg" alt="Image" class="img-fluid">
        <div class="media-1-content">
          <h2>Understanding Market Breadth</h2>
          <span class="category">Webinar</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="asset/images/works/jargonsoffinancialmarket_hint2mint.jpg" class="media-1" data-fancybox="gallery">
        <img src="asset/images/works/jargonsoffinancialmarket_hint2mint.jpg" alt="Image" class="img-fluid">
        <div class="media-1-content">
          <h2>Jargons Of Financial Market</h2>
          <span class="category">Webinar</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="asset/images/works/risksandrewards_hint2mint.jpg" class="media-1" data-fancybox="gallery">
        <img src="asset/images/works/risksandrewards_hint2mint.jpg" alt="Image" class="img-fluid">
        <div class="media-1-content">
          <h2>Risks and Rewards</h2>
          <span class="category">of investing</span>
        </div>
      </a>
    </div>


  </div>
</div>