<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="text-black h1 site-section-heading text-center">Testimonials</h2>
    </div>
  </div>
</div>
<div class="slide-one-item home-slider owl-carousel">
  <div>
    <div class="testimonial">

      <blockquote class="mb-5">
        <p>&ldquo;Respected ma'am,
          As planned, the activity of self introspection really helped me dive down to know myself more accurately and
          even better, the group interaction gave me so many ideas and viewpoints of different people regarding selling,
          marketing and branding. above that, the story telling question helped us realise how far we have come and how
          much we are yet to go in this path of success.
          thankyou.&rdquo;</p>
      </blockquote>

      <figure class="mb-4 d-flex align-items-center justify-content-center">

        <div><img src="../images/person_5.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>

        <p>Nimisha Sharaff</p>
      </figure>
    </div>
  </div>
  <div>
    <div class="testimonial">

      <blockquote class="mb-5">
        <p>&ldquo;Having no pre-knowledge about Trading and various Investments schemes, got a major boost into
          exploring the vast sea of Trading because of team. Their work is commendable ,also well organised. Credits to
          the hastle free online webinars organised by them, was able to explore and understand better the concept of
          Trading by sitting at home itself. Amazing Consultation Sevices !!&rdquo;</p>
      </blockquote>
      <figure class="mb-4 d-flex align-items-center justify-content-center">

        <div><img src="../images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>

        <p>Aayush Jain</p>
      </figure>

    </div>
  </div>

  <div>
    <div class="testimonial">

      <blockquote class="mb-5">
        <p>&ldquo;I have attended almost every webinar of Hint2mint, it was an excellent experience to attend the
          session because of which I have managed to cure the issue which I was facing earlier. The webinar content was
          excellent as well as easy to understand, I got my all basics concepts clarified.
          thanks for everything keep up the task.
          wishing you all the best for your future.&rdquo;</p>
      </blockquote>
      <figure class="mb-4 d-flex align-items-center justify-content-center">

        <div><img src="../images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>

        <p>Shadab</p>
      </figure>


    </div>
  </div>



</div>

<script>
  var siteCarousel = function () {
		if ( $('.nonloop-block-13').length > 0 ) {
			$('.nonloop-block-13').owlCarousel({
		    center: false,
		    items: 1,
		    loop: true,
				stagePadding: 0,
		    margin: 0,
		    autoplay: true,
		    nav: true,
				navText: ['<span class="icon-arrow_back">', '<span class="icon-arrow_forward">'],
		    responsive:{
	        600:{
	        	margin: 0,
	        	nav: true,
	          items: 2
	        },
	        1000:{
	        	margin: 0,
	        	stagePadding: 0,
	        	nav: true,
	          items: 3
	        },
	        1200:{
	        	margin: 0,
	        	stagePadding: 0,
	        	nav: true,
	          items: 4
	        }
		    }
			});
		}

		$('.slide-one-item').owlCarousel({
	    center: false,
	    items: 1,
	    loop: true,
			stagePadding: 0,
	    margin: 0,
	    autoplay: true,
	    pauseOnHover: false,
	    nav: true,
	    navText: ['<span class="icon-keyboard_arrow_left">', '<span class="icon-keyboard_arrow_right">']
	  });
	};
	siteCarousel();

</script>