<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-8 text-center">
      <h2 class="text-black h1 site-section-heading text-center">Blog</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
      <div class="h-entry">
        <a href="pages/blogs/whichsector.html"><img
            src="images/blogs/which secotor/Sector.png" alt="Image" class="img-fluid"></a>
        <h2 class="font-size-regular"><a href="pages/blogs/whichsector.html"><strong>Which sector?</strong></a></h2>
         <div class="team-color">Keshina Goel <span class="mx-2">&bullet;</span> May 20, 2020<span
            class="mx-2">&bullet;</span></div>
        <p>Due to the ongoing pandemic in the entire world the major four industries booming are:
          1. Pharmaceutical industries
          With the virus prevailing there is an enormous demand </p>
        <p><a href="pages/blogs/whichsector.html">Continue Reading...</a></p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
      <div class="h-entry">
        <a href="pages/blogs/algorithmictrading.html"><img
            src="images/blogs/algorithmictrading/web2.png"  alt="Image" class="img-fluid"></a>
        <h2 class="font-size-regular"><a href="pages/blogs/algorithmictrading.html"><strong>Algorithmic Trading </strong></a></h2>
        <div class="team-color">Kimaya Patil<span class="mx-2">&bullet;</span> May 20, 2020<span class="mx-2">&bullet;</span>
        </div>
        <p>The advent of Algorithmic Trading happened in India when, back in 2008, the Securities and Exchange Board of India
                (SEBI) allowed stockbrokers to offer Direct Market Access (DMA) to their clients.</p>
        <p><a href="pages/blogs/algorithmictrading.html">Continue Reading...</a></p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
      <div class="h-entry">
        <a href="pages/blogs/relativestrengthindex.html"><img
            src="images/blogs/relativestrengthindex/rsi.png"  alt="Image" class="img-fluid"></a>
        <h2 class="font-size-regular"><a href="pages/blogs/relativestrengthindex.html"><strong>Relative Strength Index</strong></a></h2>
        <div class="team-color">Keshina Goel <span class="mx-2">&bullet;</span> May 20, 2020<span
            class="mx-2">&bullet;</span></div>
        <p> RSI is a momentum oscillator that measures the speed and change of price movements which Generally, when RSI
          goes beyond the 70</p>
        <p><a href="pages/blogs/relativestrengthindex.html">Continue Reading...</a></p>
      </div>
    </div>


  </div>
</div>