<br>
<br>
<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-7 text-center">
      <h2 class="text-black h1 site-section-heading">Our Team</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
      <div class="nter">
       
          
        </ul>
      </div>
    </div>
    <div class="row">
    <center>
    <div class="col-md-6 col-lg-4 <mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
      <div class="person text-center">
        <img src="asset/images/team/image1_hint2mint.jpeg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
      <h3><strong>Dixita Jain</strong></h3>
        <p class="position hint">Founder & Director</p>
        <p class="mb-4">Experienced Research Analyst and Assurance Associate with a demonstrated history of working in the Corporate world. 
          Worked with EY for three years and with Evalueserve with a year 
          Proficient French language expert</p>
        <ul class="ul-social-circle">
          <li><a href="https://www.facebook.com/dixita.jain.10"><span class="icon-facebook"></span></a></li>
          <li><a href="https://www.linkedin.com/in/dixita-jain-215362121/"><span class="icon-linkedin"></span></a></li>
          <li><a href="https://Instagram.com/dixitajain"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </div>
    </center>
  </div>
</div>
</div>