<div class="container">
  <div class="col-12">
    <div class="text-left pb-1">
      <h2 class="text-black h1 site-section-heading">About Us</h2>
    </div>
  </div>
  <div class="row mb-5">

    <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
      <img src="images/about.jpg" alt="Image" class="img-fluid rounded">
    </div>
    <div class="col-md-6 order-md-1" data-aos="fade">


      <div class="row">


        <div class="col-12 mb-4">
          <p class="lead">Here, at Hint2Mint, we understand and focus on the two main financial decorum of life which
            are –
            “
            TIME VALUE OF YOUR MONEY” – an exhibit of life which signifies the always growing sentiment of your money
            when invested and the shady decline of your Net Worth via glossary inflation; impacting on your money when
            saved and consumed. So, according to the variant economy and its plausible effects in the stock market, we
            focus on creating superior portfolios for your wealth and regular passive income incubating the sensitivity
            of your Life and Med Term policies; safeguarding the smile and future of your family.
            ”
          </p>
        </div>
        <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
          <div class="unit-4">
            <div class="unit-4-icon mr-4 mb-3"><span class="text-secondary icon-phonelink"></span></div>
            <div>
              <h3>Web &amp; Money Value of your Time</h3>
              <p>On the other hand, we are constantly focused on “MONEY VALUE OF YOUR TIME – which is parallel to the
                phrase – You earn according to your skills and not according to your time. </p>

            </div>
          </div>
        </div>
        <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
          <div class="unit-4">
            <div class="unit-4-icon mr-4 mb-3"><span class="text-secondary icon-extension"></span></div>
            <div>
              <h3>Awareness</h3>
              <p>At Hint2Mint are committed to spread financial awareness at large.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>