<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-8 text-center" data-aos="fade-up">
      <h2 class="text-black h1 site-section-heading text-center">Our Services</h2>
    </div>
  </div>
  <div class="row align-items-stretch">
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
      <div class="unit-4 d-flex">
        <div class="unit-4-icon mr-4"><span class="text-primary icon-laptop2"></span></div>
        <div>
          <h3>Introduction to the World of finance</h3>
          <p>Welcome to the palpable world of finance, wherein we introduce you with the pragmatic knowledge.</p>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
      <div class="unit-4 d-flex">
        <div class="unit-4-icon mr-4"><span class="text-primary icon-shopping_cart"></span></div>
        <div>
          <h3>Introduction to the basics of banking</h3>
          <p>We educate and inspire today's youth by connecting them with modern day banking.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
      <div class="unit-4 d-flex">
        <div class="unit-4-icon mr-4"><span class="text-primary icon-question_answer"></span></div>
        <div>
          <h3>Finacial courses</h3>
          <p>Let's learn and reinvent how financial courses can double up your knowledge and help you grow.</p>
        </div>
      </div>
    </div>


    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
      <div class="unit-4 d-flex">
        <div class="unit-4-icon mr-4"><span class="text-primary icon-format_paint"></span></div>
        <div>
          <h3>Career Counselling</h3>
          <p>Discover your true calling and formulate your own career path. Our glorious faculty is set to direct you to
            your best career path</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
      <div class="unit-4 d-flex">
        <div class="unit-4-icon mr-4"><span class="text-primary icon-extension"></span></div>
        <div>
          <h3>Improving Presentation skills</h3>
          <p>Are you ready to refine your presentation expertise ? If yes, you've find the right place.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
      <div class="unit-4 d-flex">
        <div class="unit-4-icon mr-4"><span class="text-primary icon-phonelink"></span></div>
        <div>
          <h3>Improving interview skills</h3>
          <p>We prepare you to pitch your best self to get hired and help you enhance your interview skills.</p>
        </div>
      </div>
    </div>

  </div>
</div>