<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="footer-heading mb-4">About Us</h2>
                    <p>We at Hint2Mint are committed to spread financial awareness at large. Along with the management
                        of your
                        finances, we are always committed to enhance your financial education in the form of webinars
                        and
                        seminars from basic understanding of finance to the heights of complex professional aspects of
                        financial
                        management.</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <h2 class="footer-heading mb-4">Legal Section</h2>
                    <ul class="list-unstyled">
                        <!-- <li><a href="#about-section">About Section</a></li>
                        <li><a href="#services-section">Services Section</a></li> -->
                        <li><a href="pages/footer/tandc.html">Terms & Conditions</a></li>
                        <li><a href="pages/footer/disclaimer.html">Disclaimer</a></li>
                        <li><a href="pages/footer/privacy.html">Privacy Policy</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h2 class="footer-heading mb-4">Follow Us</h2>
                    <a href="https://www.facebook.com/pages/category/Product-Service/Hint2Mint-107676550799236/"
                        class="pl-0 pr-2"><span class="icon-facebook"></span></a>
                    <a href="https://twitter.com/chariotfinserve" class="pl-2 pr-2"><span
                            class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/hint2mint/" class="pl-2 pr-2"><span
                            class="icon-instagram"></span></a>
                    <a href="https://www.linkedin.com/company/hint2mint/?viewAsMember=true" class="pl-2 pr-2"><span
                            class="icon-linkedin"></span></a>
                    <a href="https://www.youtube.com/channel/UCL6KvnZOYKuY9np9TYIHyIQ" class="pl-2 pr-2"><span
                            class="icon-youtube"></span></a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="newsletter.js" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control border-secondary text-white bg-transparent"
                        placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <input type="button" value="Send" class="btn btn-primary text-white" id="button-addon2" onclick="sendNewsletterMail()">
                        <button name="subscribe" value="subscribe" onclick="sendNewsletterMail()">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
            <div class="border-top pt-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2020 All rights reserved <a href="https://colorlib.com" target="_blank">!</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
</div>

<script src="../../js/main.js"></script>
<script src="../../js/smtp.js"></script>
<script src="../../js/newsletter.js"></script>