<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">


  </head>
  <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-11 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0"><img src="images/logo.jpg" alt="immages/logo.jpg"><span class="text-primary"></span> </a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#home-section" class="nav-link">Home</a></li>
              <li><a href="#work-section" class="nav-link">Work</a></li>
              <li>
                <a href="#services-section" class="nav-link">Services</a>
              </li>
              <li class="has-children">
                <a href="#about-section" class="nav-link">About</a>
                <ul class="dropdown">
                  <li><a href="#about-section">Specialties</a></li>
                  <li><a href="#team-section">Our Team</a></li>
                </ul>
              </li>
              <li><a href="#blog-section" class="nav-link">Blog</a></li>
              <li><a href="#contact-section" class="nav-link">Contact</a></li>
            </ul>
          </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>
    
  </header>
<body>
    <div class="blog2">
<h2>Nifty or National Index Fifty<br>
    The flagship index on the National Stock Exchange of India Ltd. (NSE) </h2>
    - By Keshina Goyal<br><br>
    <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-56176,resizemode-1,msid-70345874/sensex-nifty-fall-for-4th-day-on-weakness-in-sbi-hdfc-twins.jpg"
<br>
<br>

Introduction.
Nifty includes 50 largest and most liquid companies out of approximately 1600 companies traded on NSE, captures approximately 65% of its float-adjusted market capitalization and is a true reflection of the Indian stock market. Nifty is thus a highly diversified portfolio covering companies across 12 sectors.

Eligibility Criteria.
	1.	The company should be listed and traded at NSE in India.
	2.	All common shares, with a trading frequency of 100% in the last six months,listed on the NSE except that which provides fixed return are eligible for the inclusion in the NIFTY 50 index. The securites must be available for trading in NSE’s Futures & options segment.
	3.	Equity securities with Differential Voting Rights (DVR) are eligible for inclusion if and only if certain criteria is met.
	4.	The security should have traded at an average impact cost* of 0.50% or less during the last six months, for 90% of the observations for portfolio of Rs. 2 crores.
	5.	Companies eligible for inclusion in the NIFTY 50 must have at least twice the float-adjusted market capitalization of the current smallest index constituent.

Index Construction and Compution.
The NIFTY 50 is computed using a float-adjusted, market capitalization weighted methodology, wherein the level of the index reflects the total market value of all the stocks in the index relative to a particular base period (i.e. 1995) with the base value of 1000 and a base capital of Rs. 2.06 trillion.
Nifty50 = (Summation of free flow market capital of 50 most liquid stocks) X (Index factor)
Where, Free Float Market capital= (Shares outstanding for general public) X Price
Index Factor = Base Index value/ Market capital value in 1995

#The index is reconstituted semi-annually considering 6 months data ending January and July respectively to a maximum limits of 10% of the index size. Additional index reconstitution may be undertaken in case any of the index constituent undergoes a scheme of arrangement for corporate events such as merger, spin-off, compulsory delisting or suspension etc. 

 *Impact cost is the cost of executing a transaction in a security in proportion to its index weight, measured by market capitalization at any point in time.

</div>
</body>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>We at Hint2Mint are committed to spread financial awareness at large. Along with the management of your finances, we are always committed to enhance your financial education in the form of webinars and seminars from basic understanding of finance to the heights of complex professional aspects of financial management.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Features</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                
              </ul>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="https://www.facebook.com/pages/category/Product-Service/Hint2Mint-107676550799236/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="https://twitter.com/chariotfinserve" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="https://www.instagram.com/hint2mint/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="https://www.linkedin.com/company/hint2mint/?viewAsMember=true" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              <a href="https://www.youtube.com/channel/UCL6KvnZOYKuY9np9TYIHyIQ" class="pl-3 pr-3"><span class="icon-youtube"></span></a>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
          <form action="#" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank" ></a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
        </div>
        
      </div>
    </div>
  </footer>

</html>